<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ninja Money</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    * {
      text-align: center;
      margin: 5px 0px;
    }
    .success {
      font-color: green;
    }
    .warning {
      font-color: red;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header row">
      <label for="your_gold">Your Gold:</label>
      <input id='your_gold' disabled type="text" value={{ request.session.total_gold }}>
    </div>
    <div class="boxes row">
      <div class="farm border col-3">
        <form action="/ninja_gold/process_money/farm" method="post">
          {% csrf_token %}
          <h3>Farm</h3>
          <h6>(earns 10-20 golds)</h6>
          <input style="btn btn-outline-primary" type="submit" value="Find Gold!">
        </form>
      </div>
      <div class="cave border col-3">
        <form action="/ninja_gold/process_money/cave" method="post">
          {% csrf_token %}
          <h3>Cave</h3>
          <h6>(earns 5-10 golds)</h6>
          <input style="btn btn-outline-primary" type="submit" value="Find Gold!">
        </form>
      </div>
      <div class="house border col-3">
        <form action="/ninja_gold/process_money/house" method="post">
          {% csrf_token %}
          <h3>House</h3>
          <h6>(earns 2-5 golds)</h6>
          <input style="btn btn-outline-primary" type="submit" value="Find Gold!">
        </form>
      </div>
      <div class="casino border col-3">
        <form action="/ninja_gold/process_money/casino" method="post">
          {% csrf_token %}
          <h3>Casino</h3>
          <h6>(earns/takes 0-50 golds)</h6>
          <input style="btn btn-outline-primary" type="submit" value="Find Gold!">
        </form>
      </div>
    </div>
    <div class="footer row">
      <label for="activities_box">Activities: </label>
      <div name="activities_box" id="activities_box" cols=100% rows="4">
        {% for activity in request.session.activities %}
          <p>{{ activity.message }}</p>
        {% endfor %}
      </div>
    </div>
    <form action="/ninja_gold/clear" method="POST">{% csrf_token %}<input type="submit" value="Clear game" class="btn btn-outline-danger"></form>
  </div>
</body>

</html>
